<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lioness Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Lioness.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE2296271DB16EE800EA477A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE295CE71DB14DCE0019EC57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE3FEB951DA425A30000648D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF913A91DB151610075C6CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF913C61DB16AE20075C6CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
